<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="myApp">
<head>
<title>lemonReader</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
<style type="text/css">

body{
  overflow: hidden;
}

.main {
	padding-top:60px;
	padding-bottom: 40px;
}

.test {
  max-height:600px;
  overflow: hidden;
  overflow-y: auto;
}
.sidebar-nav {
	padding: 9px 0;
}

#shareDoubanModal{
  height:300px;
}
#shareDoubanModal .modal-body{

  max-height:300px;
}
@media (max-width: 980px) {
/* Enable use of floated navbar text */
.main{
	padding-top:0px;

}
.navbar-text.pull-right {
  float: none;
  padding-left: 5px;
  padding-right: 5px;
 }
}
</style>
</head>

<body>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-sanitize.min.js"></script>
    
    <script src="feeds.js"></script>
    
<!--使用FeedsController-->
<div ng-controller="FeedsCtrl">

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">我的阅读器</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div><!--/.nav-collapse  这个Nav bar是ROOT下的了 -->

<div class="container-fluid main">
<div class="row-fluid">
 
<!-- Nav list Stared -->
<div class="span2">
  <div class="row-fluid test" >

<table class="table table-striped">
<div class="control-group">
  <div class="controls">
    <div class="input-prepend">
      <span class="add-on" ng-click='addFeed()'><i class="icon-plus"></i></span>
      <input class="span11" id="inputIcon" type="text" ng-model="feedNeedbeAdded" placeholder="订阅地址....">
    </div>
  </div>
</div>
  <tbody>
    <tr><td>主页....</td></tr>
    <tr ng-repeat="(xmlurl,title) in feeds">
      <td><a ng-click='loadFeed(xmlurl)'>{{title}}</a><span class="badge">{{feedunreaded[xmlurl]}}</span></td>
    </tr> 
  </tbody>  
</table> 
</div><!-- span2's row-fluid end -->
</div><!-- span2 end -->
<!-- Nav list End-->

<!-- Main content Stared-->
<div class="span10">
<div class="row-fluid test" id="mainRight">
<div class="LasestNews" ng-bind-html="mainRight">
</div>
<!--End of mainRight-->
<div class="accordion" id="accordion2">
  <div class="accordion-group" ng-repeat="(idx,title) in content.index">
    
    <!--Begin of accordion-heading-->
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse_{{idx}}">
       <span>标题：{{title}}</span>
      </a>
    </div>
    <!--End of according heading-->

	<!--Begin of according body-->
        <div id="collapse_{{idx}}" class="accordion-body collapse">
      		<div class="accordion-inner" ng-bind-html="content[title].description[0]"></div>
    		<!--Begin of reshare-->
		<div class="text-right" style="margin-right:10px;margin-bottom:10px;">
			<a href="#"  data-toggle="modal" data-target="#shareDoubanModal" ng-click="prepare_douban(title)">推荐到豆瓣</a>
			<a href="#"  ng-click="share_weibo(title)">推荐到新浪</a>
		</div>
		<!--End of reshare-->
	</div>
        <!-- End of collapse body-->
    </div>
	<!-- End of according...group-->
  </div>
</div><!-- End of accordion-->


   <div><!-- row-fluid END-->
</div><!-- span10 END-->





</div><!-- row-fluid END-->
</div><!--container-fluid END -->

<!-- Modal -->
<div id="shareDoubanModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="dbModalLabel" aria-hidden="true">
  <!-- Begin of modal-header-->
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="dbModalLabel">推荐到豆瓣</h3>
  </div>
  <!-- End of modal-header-->
  
  
  <!--Begin of modal-body-->
  <div class="modal-body" style="padding-left:20px">
        <textarea style="width:93%" ng-model="rec_say" rows="3" placeholder="100..."></textarea>
        <img class="img-polaroid" src="{{douban_shuo.rec_image}}" style="float:right;margin-left:12px;margin-right:22px;max-width:20%;">
          <p class="muted">{{douban_shuo.rec_title}}</p>
          <p class="muted" style="margin-left:20px;">{{douban_shuo.rec_url}}</p>
  </div><!-- End of modal-body-->
  <div class="modal-footer">
        <a href="#" class="btn btn-success" ng-click="share_douban()">推荐</a>
  </div>
</div>
<!-- End of Modal -->


</div><!-- End of ng controller end-->
<script type="text/javascript">
	
	$(document).ready(function(){
		var mainRight=$("#mainRight");
		console.log(mainRight);
	});



</script>
</body>
</html>
